* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #404258;
  color: #eee;
}

.contributors-images {
  display: flex;
  gap: 20px;
}

.contributor {
  text-align: center;
}

.contributor>img {
  border-radius: 55%;
}