/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #404258;
  color: #eee;
  font-family: sans-serif;
}

.contributors-images {
  display: flex;
  gap: 20px;
}

.contributor {
  text-align: center;
}

.contributor>img {
  border-radius: 55%;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #000;
  max-width: 250px;
  background-color: #303241;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  padding: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

label {
  display: block;
}